@charset "utf-8";

/*Avoid outline for focus or selected elements*/
*:focus {
    outline: 0;
}

html{
    height: 100%;
}

body {
    height: 90%;

    font-family: 'Ubuntu Mono',sans-serif;
    font-size: 22px;

    color: white;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(68,68,68)), to(rgb(0,0,0))); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* IE 10 */
    background: -o-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* Opera 11.10+ */
}

div {
    margin: 0 auto;
    box-sizing: border-box;

    border-radius: 15px;
    padding: 10px;

    text-align: center;
}
div.top{
    height: 100px;
}
div.content{
    position: absolute;
    right: 1%;
    width: 80%;
    background-color: yellow;
    color: blue;
}

div.logo_img{
    position: absolute;
    top: 0;
    left: 0;
}

button {

    border: 1px solid rgba(100, 100, 100, 1);
    background: black;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(68,68,68)), to(rgb(0,0,0))); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* IE 10 */
    background: -o-linear-gradient(top, rgb(68,68,68), rgb(0,0,0)); /* Opera 11.10+ */
    padding: 9px 18px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 24px;
    font-family: "Ubuntu Mono", sans-serif;
    text-decoration: none;
    vertical-align: middle;

} button:hover {
      background: gray;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0,0,0)), to(rgb(68,68,68))); /* Safari 4-5, Chrome 1-9 */
      background: -webkit-linear-gradient(top, rgb(0,0,0), rgb(68,68,68)); /* Safari 5.1, Chrome 10+ */
      background: -moz-linear-gradient(top, rgb(0,0,0)), rgb(68,68,68)); /* Firefox 3.6+ */
      background: -ms-linear-gradient(top, rgb(0,0,0), rgb(68,68,68)); /* IE 10 */
      background: -o-linear-gradient(top, rgb(0,0,0), rgb(68,68,68)); /* Opera 11.10+ */
      cursor: pointer;

  } button:active {
        border: 1px solid white;
        /*color: rgba(0, 255, 0, 1);
        text-shadow: black 0 1px 0;*/
}

input {
    font-family: 'Ubuntu Mono',sans-serif;
    font-size: 32px;
    color: black;
    padding-left: 10px;
}

span.cedempre {
    /*text-shadow: 2px 2px 1px black;*/
    font-size: 24px;
    color: rgb(255, 165, 0);
}

.round_left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;

    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
}