@charset "utf-8";

/* Avoid outline for focus or selected elements */
:focus {
    outline: 0;
}

html{
    height: 100%;
}

body {
    height: 95%;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;

    color: white;
    background-color: black;
}

div{
    overflow: auto;
    padding: 5px;
}

input {
    height: 30px;
    vertical-align: top;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: #000000;
    padding-left: 10px;

    border: solid black;
    border-radius: 10px;
}