@charset "utf-8";

div.index_header {
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
}

div.index_body {
    height: 70%;
}

div.index_foot {
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
    font-size: 20px;
}

div.index_body table.login {
    position: relative;
    top: 20%;
    width: 250px;
    height: 250px;
    border-radius: 15px;

    background-color: rgb(20,20,20);
    -webkit-box-shadow: 0 0 5px 5px rgb(0,0,0);
    -moz-box-shadow: 0 0 5px 5px rgb(0,0,0);
    box-shadow: 0 0 5px 5px rgb(0,0,0);
}