.left_panel {
    position:absolute;
    left:1%;
    width: 15%;
    height: 80%;
    background-color: rgba(255, 160, 0, 0.3);;
}
.left_panel .lp_controls{
    /*width: 20%;*/
    /*height: 90%;*/
    /*background-color: rgba(255, 160, 0, 0.3);*/
}

.left_panel .lp_controls ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 200px;*/
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.left_panel .lp_controls ul li{
    text-align: right;
    margin-bottom: 20px;
}

.left_panel .lp_controls ul li a{
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 20px;
}

.left_panel .lp_controls ul li a:hover{
    background: #000;
    border-left: 10px solid #333;
    color: #fff;
}