@charset "utf-8";
/* Horizontal menu */

.horizontal_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontal_menu ul li {
    float: left;
    cursor: pointer;
}

.horizontal_menu ul li a:link,
.horizontal_menu ul li a:visited {
    display: block;
    /*width: 120px;*/
    border: 2px solid gray;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(gray), to(black));
    background: -webkit-linear-gradient(top, gray, black);
    background: -moz-linear-gradient(top, gray, black);
    background: -ms-linear-gradient(top, gray, black);
    background: -o-linear-gradient(top, gray, black);

    color: white;
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    text-decoration: none;
    vertical-align: middle;

    padding: 9px 18px;
}

.horizontal_menu ul li a:hover{
    color: orange;
}

.horizontal_menu ul li a:active{
    background: gray;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
    background: -webkit-linear-gradient(top, black, gray);
    background: -moz-linear-gradient(top, black, gray);
    background: -ms-linear-gradient(top, black, gray);
    background: -o-linear-gradient(top, black, gray);
}

.horizontal_menu ul li a.selected{
    border-color: orange;
    color: orange;
    cursor: pointer;
}

/* ####################################################################### */

.vertical_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vertical_menu ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.vertical_menu ul li a:link,
.vertical_menu ul li a:visited {
    display: block;
    /*width: 120px;*/
    border: 2px solid gray;
    background: black;

    color: white;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, monospace;
    text-decoration: none;
    text-align: right;
    vertical-align: middle;

    padding: 9px 18px;
}

.vertical_menu ul li a:hover{
    color: orange;
}

.vertical_menu ul li a:active{
    background: #2b2b2b;

}

.vertical_menu ul li a.selected{
    border-color: orange;
    color: orange;
    background: #2b2b2b;
    cursor: pointer;
}