@charset "utf-8";
/* Top Bar elements */

#top_name_help_out {
    position: absolute;
    right: 0;
}

#top_usr_name {
    font-size: 14px;
}
    #top_usr_name:hover{
        cursor: pointer;
        color: darkorange;
        font-weight: bold;
    }

#top_menu {
    position: absolute;
    top: 70%;
    right: 0;
}

