.top_menu {
    float: right;
}

.top_menu .top_container {
    position: absolute;
    right: 1.5%;
}

.top_menu .usr_name{
    font-size: 22px;
    }.top_menu .usr_name:hover{
        cursor: pointer;
        color: orange;
}

.top_menu .opt_button {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

.top_menu ul {
    position: absolute;
    right: 1.5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top_menu li {
    float: left;
}

.top_menu a:link,
.top_menu a:visited {
    display: block;
    /*width: 120px;*/
    border: 1px solid gray;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(gray), to(black));
    background: -webkit-linear-gradient(top, gray, black);
    background: -moz-linear-gradient(top, gray, black);
    background: -ms-linear-gradient(top, gray, black);
    background: -o-linear-gradient(top, gray, black);

    color: white;
    font-size: 18px;
    font-family: "Ubuntu Mono", sans-serif;
    text-decoration: none;
    vertical-align: middle;

    padding: 9px 18px;
}

.top_menu a:hover , .top_menu a.selected{
    color: orange;
    cursor: pointer;
}

.top_menu a:active {
    border: 1px solid orange;

    background: gray;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
    background: -webkit-linear-gradient(top, black, gray);
    background: -moz-linear-gradient(top, black, gray);
    background: -ms-linear-gradient(top, black, gray);
    background: -o-linear-gradient(top, black, gray);
}

.top_menu a.selected{
    border-color: orange;
    color: orange;
    cursor: pointer;
}

.top_menu span.selfTitle {
    position:absolute;
    left: 22%;
    top: 127px;
    color: black;
    padding: 0 10px;

    background-color: lightgray;
    -webkit-box-shadow: 0 0 5px 5px black;
    -moz-box-shadow: 0 0 5px 5px black;
    box-shadow: 0 0 5px 5px black;

    /*round corners*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    z-index: 100;
}

