
.top_menu span.usr_name{
    font-size: 22px;

    }.top_menu span.usr_name:hover{
        cursor: pointer;
        color: rgb(255, 165, 0);
}

.top_menu {
    float: right;
}

.top_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top_menu li {
    float: left;
}

.top_menu a:link,
.top_menu a:visited {
    display: block;
    /*width: 120px;*/
    border: 1px solid rgba(100, 100, 100, 1);
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(gray), to(black));
    background: -webkit-linear-gradient(top, gray, black);
    background: -moz-linear-gradient(top, gray, black);
    background: -ms-linear-gradient(top, gray, black);
    background: -o-linear-gradient(top, gray, black);

    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;

    color: rgba(255, 200, 0, 1);
    font-size: 18px;
    font-family: "Ubuntu Mono", sans-serif;
    text-decoration: none;
    vertical-align: middle;

    padding: 9px 18px;
}

.top_menu a:hover , .top_menu a.selected{
    background: gray;
    background: -webkit-gradient(linear, left top, left bottom, from(#B9B6BB), to(black));
    background: -webkit-linear-gradient(top, #B9B6BB, black);
    background: -moz-linear-gradient(top, #B9B6BB, black);
    background: -ms-linear-gradient(top, #B9B6BB, black);
    background: -o-linear-gradient(top, #B9B6BB, black);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.top_menu a:active {
    border: 1px solid rgba(255, 255, 255, 1);
}

.top_menu a.selected{
    background: gray;
    background: -webkit-gradient(linear, left top, left bottom, from(#B9B6BB), to(black));
    background: -webkit-linear-gradient(top, #B9B6BB, black);
    background: -moz-linear-gradient(top, #B9B6BB, black);
    background: -ms-linear-gradient(top, #B9B6BB, black);
    background: -o-linear-gradient(top, #B9B6BB, black);
    color: white;
    cursor: pointer;
}