@charset "utf-8";

.usr_table td{
    height: 80px;
}

#usr_activo_txt{
    left:14px;
}

.usr_field:disabled{
    background-color: lightgrey;
    color: black;
}

#usrButtons,
#usrPassChange{
    display: none;
}
