@charset "utf-8";

.usr_table td{
    height: 80px;
}

#usr_activo_txt{
    left:14px;
}

.usr_field:disabled{
    background-color: lightgrey;
    color: black;
}

button.usr_field {
    display: none;
}

#usrPassChng{
    font-size: 14px;
    height: 300px;
}

    #usrPassChng input{
        font-size: 14px;
        height: 15px;
    }
    #usrPassChng button{
        font-size: 14px;
    }

    #usrPassChng_tbl{
        position: absolute;
        left: 20%;
        top: 10%;
    }
